<div>
    <h3>Home</h3>
    <div>
        <form action="/file/upload" method="post" enctype="multipart/form-data">
            <input type="email" name="email" placeholder="enter email" required>
            <input type="file" name="avatar">
            <input type="file" name="photos" multiple>
            <input type="submit">
        </form>
    </div>
</div>