<link rel="stylesheet" href="/css/home.css">
<div>
    <div class="img-form">
        <h3>Upload Images</h3>
        <form action="/file/upload" method="post" enctype="multipart/form-data">
            <input type="email" name="email" placeholder="enter email" required><br>
            <input type="file" name="avatar"><br>
            <input type="file" name="photos" multiple><br>
            <input type="submit">
        </form>
    </div>
    <div class="img-container">
        <%if(locals.users){%>
            <% for(let user of users){ %>

                <% if(user.avatar){ %>
                    <div>
                        <img src="<%=user.avatar%>" alt="avatar" width="250" height="250" style="display:block-inlinne">
                        <p>owner:<%=user.email%></p>
                    </div>
                <% } %>
    
                <% for(let i of user.photos){ %>
                    <div>
                        <img src="<%=i%>" alt="img" width="250" height="250"><br>
                        <p>owner:<%=user.email%></p>
                    </div>
                <%}%>
            <%}%>
        <%}%>
    </div>
</div>

